.header_wrapper {
    display: flex;
    justify-content: space-between;
}

.header_img img{
    width: 170px;
    padding: 22px 15px;
    margin-left: 4vw;
    align-items: baseline;
}

.header_searchBox input {
    width: 75vw;
    height: 35px;
    margin: 15px 5vw 15px 0;
    align-items: baseline;
    border-radius: 5px;
    border: solid rgba(0, 0, 0, .3) thin;
}

.h3 {
    padding: 10px 5vw;
}
.common_search_options {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: solid rgba(0, 0, 0, .3) thin;
    border-radius: .5rem;
    margin-bottom: 75px;
}


.common_search_options p {
    padding: 5px 7px;
    font-size: .9rem;
}

.common_search_options p:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
    border-radius: .5rem;
}

.main_content {
    display: flex;
    flex-wrap: wrap;
    width: 96vw;
    height: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
}

.product_item {
    width: 20vw;
    height: auto;
    margin: auto;
    cursor: pointer;
    margin-bottom: 20px;
}
