.overlay {
    z-index: 100;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal_wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    padding: 2vw;
    z-index: 100;
}

.modal_wrapper button {
    width: 30%;
    padding: .3vw;
    background-color: #c92127;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.back_to_home {
    display: flex;
    justify-content: center;
}