.nav_container {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    margin: 0px 10vw 0 10vw;
    align-items: center;
    font-size: small;
}

.nav_container img {
    width: 30%;
    margin: 0;
}

.dropdownMenu {
    display: none;
}


.nav_user {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login, .cart, .info {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
    height: auto;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
}

.login:hover {
    background-color: rgb(245, 245, 245);
}

.cart:hover {
    background-color: rgb(245, 245, 245);
}

.info:hover {
    background-color: rgb(245, 245, 245);
}

.cartItemNumber {
    height: auto;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 1.5px;
}

.nav_options_ipad {
   display: none;
}

@media screen and (max-width: 1080px) {


.nav_user {
    width: 40%;
}
}

@media screen and (max-width: 750px) {

.dropdownMenu {
    display: flex;
    justify-content: center;
    width: 10vw;
}

.nav_img {
    display: flex;
    justify-content: center;
}


.info {
    display: none;
}
.nav_container {
    margin: 0;
    justify-content: space-evenly;
}

.nav_user {
    width: 10vw;
}

.login_text, .cart_text {
    display: none;
}
}


@media screen and (max-width: 550px) {
.nav_container img {
    width: 40%;
    margin: 0;
}  
}